html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "PT Sans", "Arial", serif;
}

.container-all {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
    position: relative;
    margin: 0 auto;
}

.main-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-navigation li {
    float: left;
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 26px;
    text-align: center;
}

.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
    float: right;
}

.main-navigation a {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.index-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -69px;
}

.bg-image-top {
    min-height: 563px;
    margin-bottom: 65px;
    background: #517ca4 url(../img/bg-mountains.jpg) 50% 50% no-repeat;
}

.image-top {
    display: block;
    width: 458px;
    height: 352px;
    padding-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

.features-preface {
    width: 637px;
    min-height: 97px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 57px;
    text-align: center;
}

.features-preface h2 {
    font-size: 21px;
    line-height: 26px;
    font-weigt: bold;
    color: black;
}

.features-img {
    min-height: 256px;
    margin: 0;
    background: rgb(129, 179, 210);
    color: white;
}

.features-img .item {
    padding-top: 50px;
}

.third {
    float: left;
    width: 400px;
    text-align: center;
    vertical-align: middle;
}

.two-third {
    float: left;
    width: 800px;
    height: 256px;
    outline: none;
    vertical-align: top;
    line-height: 0;
}

.feature-icons {
    padding-bottom: 70px;
}

.appartment,
.food,
.gift {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.gift {
    margin-top: 43px;
}

.features-last {
    background: rgb(238, 238, 238);
}

.features-last .item {
    padding: 47px 50px 60px;
}

.interested-container {
    text-align: center;
    padding-top: 40px;
}

.form-container {
    text-align: center;
}

.features-img h2 {
    font-size: 21px;
    line-height: 21px;
    font-weigt: bold;
}

.main-footer {
    margin-top: 0px;
    padding-top: 36px;
    padding-bottom: 36px;
}

.footer-contacts {
    float: left;
    padding-left: 132px;
    margin-right: 256px;
}

.footer-social {
    float: left;
}

.footer-copyright {
    float: right;
    padding-right: 103px;
}


/* inner.html*/

.catalog {
    margin: 0 auto;
}

.filter {
    background: #517ca4 url(../img/filter-background.jpg) 50% 50% no-repeat;
    color: white;
}

.fourth {
    float: left;
    width: 25%;
    vertical-align: top;
}

.fourth fieldset {
    padding: 0px;
    margin: 0px;
    border: 0;
}

.fourth fieldset:first-child {
    padding-right: 50px;
    margin: 0px;
    border: 0;
}

.fourth label {
	position: relative;
    width: 100px;
    margin-left: 40px;
    cursor: pointer;
}

.inner {
    width: 1055px;
    margin: 0 auto;
}

.filter-form {
    padding-top: 32px;
    padding-bottom: 32px;
}

.filter-form legend {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: bold;
   	line-height: 21px;
   	text-transform: uppercase;
}

.two-fourth {
    float: right;
    width: 50%;
    vertical-align: top;
}

.filter-range {
    float: right;
    width: 314px;
}

.filter-range h2 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;

}

.range-price {
    float: left;
    width: 155px;
}

.range-control {
    position: relative;
    margin-left: 12px;
    margin-bottom: 32px;
}

.result-btn {
    display: block;
    margin: 32px auto 33px;
}

.results {
	padding-top: 31px;
	padding-bottom: 31px;
	border-bottom: 1px solid #666666;
}

.found {
    float: left;
    margin-right: 50px;
}
.found span{
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
}

.sorting {
    float: left;
}

.sorting ul {
    float: right;
    list-style: none;
    margin: 0;
}

.sorting li {
    float: left;
    margin-right: 35px;
    vertical-align: top;
}

.view-results{
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #666666;
}

.view-results .photo {
    display: inline-block;
    width: 135px;
    line-height: 0;
    vertical-align: top;
}

.view-results img {
    width: 135px;
    height: 90px;
}

.view-results .hotel-container {
    display: inline-block;
    width: 544px;
    margin-left: 30px;
    vertical-align: top;
}

.hotel-container h2 {
    display: block;
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 21px;
    line-height: 26px;
}

.hotel-type {
    display: inline-block;
    margin-bottom: 12px;
}

.ratio-info {
    float: right;
    width: 110px;
}

.ratio-info .stars{
	
	min-height: 17px;
	margin-bottom: 47px;
	// min-height для оформления//
}
