html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "PT Sans", "Arial", serif;
}

.container-all {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
    margin: 0 auto;
}

.main-navigation ul {
    margin: 0 71px;
    padding: 0px;
    list-style: none;
}

.main-navigation li {
    float: left;
    padding: 15px 0px;
    text-align: left;
}

.main-navigation li:nth-child(2),
.main-navigation li:nth-child(3) {
    padding-left: 147px;
}

.main-navigation li:nth-child(n+3) {
    float: right;
    text-align: right;
}

.main-navigation a {
    text-decoration: none;
    color: black;
}

.index-logo {
    position: absolute;
    top: 0;
    right: 400px;
}

.bg-image-top {
    min-height: 572px;
    margin-bottom: 65px;
    background: url(../img/bg-mountains.jpg) 50% 50% no-repeat;
}

.image-top {
    display: block;
    width: 458px;
    height: 352px;
    padding-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

.features-preface {
    width: 637px;
    min-height: 97px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 57px;
    text-align: center;
}

.features-preface h2 {
    font-size: 21px;
    line-height: 26px;
    font-weigt: bold;
    color: black;
}

.features-img {
    min-height: 256px;
    margin: 0;
    background: rgb(129, 179, 210);
    color: white;
}

.features-img .item {
    padding-top: 50px;
}

.third {
    float: left;
    width: 400px;
    text-align: center;
    vertical-align: middle;
}

.two-third {
    float: left;
    width: 800px;
    height: 256px;
    outline: none;
    vertical-align: top;
    line-height: 0;
}

.feature-icons {
    padding-bottom: 70px;
}

.appartment,
.food,
.gift {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.gift {
    margin-top: 43px;
}

.features-last {
    background: rgb(238, 238, 238);
}

.features-last .item {
    padding: 47px 50px 60px;
}

.interested-container {
    text-align: center;
    padding-top: 40px;
}

.form-container {
    text-align: center;
}

.features-img h2 {
    font-size: 21px;
    line-height: 21px;
    font-weigt: bold;
}

.main-footer {
    margin-top: 0px;
    padding-top: 36px;
    padding-bottom: 36px;
}

.footer-contacts {
    float: left;
    width: 136px;
    padding-left: 132px;
    margin-right: 256px;
    min-height: 24px;
}

.footer-social {
    float: left;
    width: 150px;
    min-height: 46px;
}

.footer-copyright {
    float: right;
    width: 195px;
    min-height: 39px;
    padding-right: 103px;
}


/* inner.html*/

.catalog {
    margin: 0 auto;
}

.filter {
    width: 1200px;
    background: url(../img/filter-background.jpg) 50% 50% no-repeat;
    color: white;
}

.fourth {
    float: left;
    width: 300px;
    padding: 27px 10px 30px 0px;
    vertical-align: top;
}

.fourth:first-child {
    padding-left: 65px;
}

fieldset {
    border: 0;
}

.filter-form legend {
    margin-bottom: 25px;
    font-size: 16px;
}

.filter-form label {
    position: relative;
    width: 100px;
    margin-left: 40px;
    cursor: pointer;
}

.two-fourth {
    display: inline-block;
    width: 600px;
    vertical-align: top;
}

.filter-range {
    float: right;
    width: 330px;
    margin-right: 70px;
}

.range-price {
    float: left;
    width: 160px;
}

.range-control {
    position: relative;
    margin-left: 12px;
    margin-bottom: 32px;
}

.result-btn {
    display: block;
    margin: 32px auto 33px;
}

.results-container {
    margin: 0 auto;
    padding-left: 72px;
}

.results {
    width: 1200px;
    padding: 30px 0;
}

.found {
    float: left;
    margin-right: 50px;
}

.sorting {
    float: left;
}

.sorting ul {
    float: right;
    list-style: none;
    margin: 0;
}

.sorting li {
    float: left;
    margin-right: 35px;
    vertical-align: top;
}

.view-results .photo {
    display: inline-block;
    width: 235px;
    padding: 30px 0;
    line-height: 0;
    vertical-align: top;
}

.view-results img {
    width: 135px;
    height: 90px;
}

.view-results .hotel-container {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 2px;
    width: 720px;
    vertical-align: top;
}

.hotel-container h2 {
    display: inline-block;
    margin-bottom: 7px;
    line-height: 26px;
    text-decoration: none;
}

.ratio-info {
    float: right;
    width: 140px;
    padding-top: 28px;
}
