html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 1200px;
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    color: #000000;
    background: #f2f2f2;
}

.container-all {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 30px 10px #dbdbdb;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
    position: relative;
    margin: 0 auto;
    color: #000000;
    background-color: #ffffff;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation li {
    float: left;
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 26px;
    text-align: left;
}

.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
    float: right;
    text-align: right;
}

.main-navigation a {
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.main-navigation a:hover {
    color: #81b3d2;
}

.main-navigation a:active {
    opacity: 0.3;
}

.main-navigation .current,
.main-navigation .current:hover,
.main-navigation .current:active {
    color: #766357;
}

.index-logo {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 5;
    margin-left: -69px;
}

.index-main {
    text-align: center;
}

.bg-image-top {
    position: relative;
    height: 508px;
    background: #517ca4 url(../img/bg-mountains.jpg) 50% 101% no-repeat;
}

.bg-image-top::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1200px;
    height: 57px;
    background: url("../img/triagle-border.png") 50% 50% no-repeat;
}

.image-top {
    margin-top: 76px;
    margin-bottom: 80px;
}

.features-preface {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 52px;
    color: #000000;
    background-color: #ffffff;
}

.features-preface h2 {
    margin: 0 360px;
    margin-bottom: 29px;
    font-size: 21px;
    font-weight: 700;
}

.features-preface p {
    margin: 0;
}

.features-img {
    margin: 0;
    background: rgb(129, 179, 210);
    color: #ffffff;
}

.features-img .item {
    padding: 45px;
}

.features-img h2 {
    width: 153px;
    margin: 0 auto;
    margin-bottom: 22px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.features-img span {
    display: block;
    margin-bottom: 20px;
}

.features-img p {
    margin: 0;
    line-height: 21px;
}

.third {
    float: left;
    width: 400px;
}

.two-third {
    float: left;
    width: 800px;
    height: 256px;
}

.feature-icons {
    padding-bottom: 67px;
    color: #000000;
    background-color: #ffffff;
}

.feature-icons .item {
    padding: 0 50px;
}

.appartment,
.food,
.gift {
    display: block;
    margin: 58px auto 30px;
}

.gift {
    margin-top: 53px;
    margin-bottom: 31px;
}

.feature-icons b {
    display: block;
    margin-bottom: 25px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.feature-icons p {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    line-height: 21px;
}

.features-last {
    background: rgb(238, 238, 238);
}

.features-last .item {
    padding: 47px 60px 46px;
}

.features-last b {
    display: block;
    width: 153px;
    margin: 0 auto 24px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.features-last p {
    font-size: 14px;
    line-height: 21px;
}

.interested {
    color: #000000;
    background-color: #ffffff;
}

.interested-container {
    margin: 0 55px 47px;
    padding-top: 57px;
    color: #000000;
    background-color: #ffffff;
}

.interested-container h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}

.interested-container p {
    margin: 0;
    padding: 0;
    line-height: 24px;
}

.form-container {
    position: relative;
    margin: 0 auto;
    width: 568px;
}

.search-btn {
    display: block;
    width: 568px;
    margin: 0 auto;
    padding: 30px 0 30px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    background: #766357;
    text-decoration: none;
}

@keyframes bounce {
  0%   {
    transform: translateY(-90px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.search-form {
    position: absolute;
    top: 85px;
    left: 0;
    z-index: 1;
    display: none;
    width: 568px;
    margin: 0 auto;
    padding: 58px 55px 54px;
    box-sizing: border-box;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    background: #ffffff;
}

.search-form-show {
	display: block;
	animation: bounce 0.6s;
}

.search-form .search-form-line {
    position: relative;
    width: 458px;
    margin-bottom: 29px;
}

.search-form .search-form-line:nth-child(2) {
    margin-bottom: 30px;
}

.search-form label {
    float: left;
    padding: 5px 0 7px;
}

.search-form .field {
    float: right;
    padding: 5px 15px 5px;
    font: inherit;
    line-height: 26px;
    text-transform: uppercase;
    box-sizing: border-box;
    background: #f2f2f2;
    border: none;
    outline: none;
}

.search-form .date {
    width: 346px;
    padding-right: 37px;
}

.search-form .calendar {
    position: absolute;
    right: 6px;
    bottom: 0;
    font-size: 21px;
    line-height: 38px;
    color: #c2c2c2;
    cursor: pointer;
}

.search-form .calendar::before {
    content: "";
    position: absolute;
    bottom: 8px;
    right: 5px;
    display: inline-block;
    width: 21px;
    height: 22px;
    vertical-align: bottom;
    background: url("../img/spritesheet.png") 0 0 no-repeat;
    background-position: -10px -10px;
    opacity: 0.3;
    cursor: pointer;
}

.search-form .calendar:hover::before {
    opacity: 1;
}

.search-form .calendar:active::before {
    width: 21px;
    height: 22px;
    background-position: -10px -52px;
}

.search-form .half-width {
	display: inline-block;
    float: left;
    width: 50%;
    vertical-align: top;
}

.half-width .number {
    width: 114px;
    padding-left: 55px;
    padding-right: 50px;
}

.half-width:first-child .number {
    margin-right: 3px;
}

.half-width:last-child label {
    margin-left: 50px;
}

.half-width .number-container {
    position: relative;
}

.number-container .btn {
    position: absolute;
    top: 0;
    padding: 5px 9px;
    line-height: 26px;
    font-weight: 700;
    color: #a9a9a9;
    background: #f2f2f2;
    border: none;
    outline: none;
}

.number-container .minus-btn {
    left: 119px;
}

.number-container .plus-btn {
    right: 3px;
}

.half-width:first-child .plus-btn {
    right: 6px;
}

.half-width:last-child .minus-btn {
    left: 123px;
}

.minus-icon,
.plus-icon {
    display: inline-block;
    vertical-align: top;
}

.minus-icon::before {
    content: "";
    position: absolute;
    bottom: 18px;
    left: 5px;
    display: inline-block;
  	vertical-align: top;
    width: 12px;
    height: 3px;
    background: url("../img/spritesheet.png") 0 0 no-repeat;
    background-position: -10px -217px;
    opacity: 0.3;
}

.minus-icon:hover::before {
    opacity: 1;
}

.minus-icon:active::before {
    width: 12px;
    height: 3px;
    background-position: -10px -240px;
}

.plus-icon::before {
    content: "";
    position: absolute;
    bottom: 14px;
    left: 0px;
    display: inline-block;
    vertical-align: top;
    width: 11px;
    height: 11px;
    background: url("../img/spritesheet.png") 0 0 no-repeat;
    background-position: -10px -263px;
    opacity: 0.3;
}

.plus-icon:hover::before {
    opacity: 1;
}

.plus-icon:active::before {
    width: 11px;
    height: 11px;
    background-position: -10px -294px;
}

.search-form .find-btn {
    display: block;
    width: 458px;
    margin: 0 auto;
    margin-top: 55px;
    padding: 15px 10px 17px;
    box-sizing: border-box;
    background: #81b3d2;
    border: none;
    outline: none;
    cursor: pointer;
}

.search-form .find-btn span {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
}

.search-form .find-btn:hover {
    background: #669ec0;
}

.search-form .find-btn:active {
    background: #5496bd;
}

.search-form .find-btn:active span {
    opacity: 0.3;
}

.map {
	height: 593px;
    background: url(../img/map.jpg) 50% 0 no-repeat;
}
.map iframe {
    height: 593px;
    width: 100%;
    border: 0;
}

.footer {
	text-align: center;
    color: #000000;
    background-color: #ffffff; 
}

.main-footer {
	margin-top: -120px;
    opacity: 0.9;
}

.footer-contacts {
    float: left;
    width: 400px;
    padding-top: 46px;
    padding-bottom: 22px;
}

.footer-contacts a {
    display: block;
    margin: 0 auto;
    font-size: 21px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.footer-social {
    float: left;
    width: 400px;
    padding: 36px 0 36px 1px;
}

.social-btn {
	position: relative;
    display: inline-block;
    width: 46px;
    height: 48px;
    margin: 0 1px;
    font-size: 0;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    background-color: #81b3d2;
}

.social-btn:hover {
    background-color: #669ec0;
}

.social-btn:active {
    background-color: #5496bd;
}

.social-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/spritesheet.png") no-repeat;
}

.social-btn-tw::before {
    width: 17px;
    height: 15px;
    background-position: -10px -362px;
}

.social-btn-fb::before {
    width: 10px;
    height: 19px;
    background-position: -10px -178px;
}

.social-btn-yt::before {
    width: 20px;
    height: 16px;
    background-position: -10px -397px;
}

.social-btn-tw:active::before,
.social-btn-fb:active::before,
.social-btn-yt:active::before {
    opacity: 0.3;
}

.footer-copyright {
    float: right;
    width: 400px;
    padding-top: 41px;
    padding-bottom: 41px;
}

.footer-copyright span {
    line-height: 39px;
}

.btn-academy {
    display: inline-block;
    width: 113px;
    height: 39px;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    background-color: #ffffff;
    background: url("../img/sprite-academy.png") 0 0 no-repeat;
}

.btn-academy:hover {
    background: url("../img/sprite-academy.png") 0 -48px no-repeat;
}

.btn-academy:active {
    background: url("../img/sprite-academy.png") 0 0 no-repeat;
    opacity: 0.3;
}


/* inner.html*/

.catalog {
    margin: 0 auto;
}

.filter {
    color: #ffffff;
    background: #517ca4 url(../img/filter-background.jpg) 50% 50% no-repeat;
}

.fourth {
    float: left;
    width: 25%;
    vertical-align: top;
}

.fourth:nth-child(2) {
    margin-left: -10px;
}

.fourth fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.fourth:first-child fieldset {
	margin: 0;
    padding-right: 45px;
    border: 0;
}

.fourth label {
    position: relative;
    width: 100px;
    margin-left: 40px;
    cursor: pointer;
}

.inner {
	margin: 0 auto;
    padding: 0 6%;
}

.filter-form {
    padding-top: 29px;
    padding-bottom: 8px;
}

.filter-form legend {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
	position: relative;
    display: block;
    margin: 0;
    margin-bottom: 20px;
    padding-left: 39px;
    cursor: pointer;
}

.accomodation-type input[type="checkbox"] + label {
    padding-left: 42px;
}

input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 22px;
    background: url(../img/spritesheet.png) no-repeat;
    background-position: -10px -94px;
}

input[type="checkbox"]:disabled + label::before,
input[type="checkbox"]:disabled:checked + label::after {
    opacity: 0.3;
}

input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 22px;
    background-color: #000000;
    background: url(../img/spritesheet.png) no-repeat;
    background-position: -10px -136px;
}

.two-fourth {
    float: right;
    width: 50%;
}

.filter-range {
    float: right;
    width: 316px;
    box-sizing: content-box;
}

.filter-range-title {
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.price-controls {
    position: relative;
    height: 32px;
    margin-bottom: 20px;
    font-size: 0px;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price {
    padding-left: 65px;
}

.price-controls .max-price {
    padding-left: 70px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 33px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 95px 0 85px;
    padding: 5px 30px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

.results {
    padding-top: 29px;
    padding-bottom: 32px;
    color: #000000;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.found {
    float: left;
    width: 150px;
    margin-right: 15px;
}

.found span {
    display: inline-block;
    vertical-align: bottom;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.sorting {
    float: left;
    font-size: 12px;
    line-height: 18px;
}

.sorting span {
    display: inline-block;
    padding-top: 8px;
    vertical-align: bottom;
    text-align: center;
}

.sorting ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    text-align: center;
    list-style: none;
}

.sorting li {
    display: inline-block;
    padding-left: 29px;
    vertical-align: bottom;
    text-align: center;
}

.sorting li:first-child {
    padding-left: 40px;
}

.sorting a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
    text-decoration: none;
}

.sorting .active {
    color: #81b3d2;
    border-bottom: none;
    cursor: text;
}

.sorting a:hover {
    color: #81b3d2;
}

.sorting a:active {
    color: #000000;
    border: none;
}

.sorting-btn {
	position: relative;
    float: right;
    width: 40px;
}

.sorting-btn a {
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
    text-align: center;
}

.up-icon::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: block;
    border: 7px solid transparent;
    border-bottom: 8px solid rgb(204, 204, 204);
}

.up-icon:hover::before {
    border: 7px solid transparent;
    border-bottom: 8px solid rgb(0, 0, 0);
}

.up-icon:active::before {
    border: 7px solid transparent;
    border-bottom: 8px solid #81b3d2;
}

.down-icon::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 26px;
    display: block;
    border: 7px solid transparent;
    border-top: 8px solid #81b3d2;
}

.down-icon:hover::before {
    border: 7px solid transparent;
    border-top: 8px solid rgb(0, 0, 0);
}

.down-icon.active:hover::before {
    border: 7px solid transparent;
    border-top: 8px solid #81b3d2;
}

.view-results {
    padding-top: 29px;
    padding-bottom: 30px;
    color: #000000;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.view-results .photo {
    display: inline-block;
    width: 135px;
    height: 91px;
    margin-right: 28px;
    vertical-align: top;
    line-height: 0;
}

.view-results img {
    width: 135px;
    height: 90px;
}

.view-results .hotel-container {
    display: inline-block;
    width: 544px;
    margin-top: -2px;
    vertical-align: top;
}

.hotel-container h2 {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.hotel-name {
    color: #000000;
    text-decoration: none;
}

.hotel-name:hover {
    color: #81b3d2;
}

.hotel-name:active:hover {
    opacity: 0.3;
}

.hotel-type {
    display: inline-block;
    margin-bottom: 9px;
}

.hotel-type span {
    display: inline-block;
    width: 110px;
    vertical-align: top;
    line-height: 21px;
    text-align: left;
}

.btn {
    display: inline-block;
    margin-right: 3px;
    padding: 3px 16px;
    vertical-align: top;
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #000000;
    border: none;
    cursor: pointer;
}

.more-btn {
    background-color: #81b3d2;
}

.more-btn:hover {
    background-color: #669ec0;
}

.more-btn:active {
	color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.reserve-btn {
    background-color: #766357;
}

.reserve-btn:hover {
    background-color: #604e43;
}

.reserve-btn:active {
	color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.ratio-info {
    float: right;
    width: 111px;
}

.ratio {
    display: block;
    padding: 1px;
    padding-left: 15px;
    color: #666666;
    background-color: #f2f2f2;
}

.ratio span {
    line-height: 21px;
}

.stars {
    display: block;
    margin-bottom: 38px;
    text-align: right;
}

.star-icon {
    position: relative;	
    display: inline-block;
    width: 17px;
    margin-left: 3px;
    vertical-align: top;
    text-align: right;
}

.star-icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin-right: 5px;
    width: 17px;
    height: 17px;
    background: url("../img/spritesheet.png") 0 0 no-repeat;
    background-position: -10px -325px;
}
